.window{

background-color: #ADD8E6; 
padding: 20px; 
  border-radius: 16px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.windowheader {
 border: solid black;
  padding: 10px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  text-align: center; 
  cursor: move;
  font-size: 200%;
}